* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
}


/* reset end */

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

.swiper {
    width: 700px;
    height: 500px;
    margin: 0;
    border-radius: 10px;
}



.swiper-slide h2 {
    position: absolute;
    /* width: ; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 00.3rem;
    background-color: #83c5be;
    color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  color: #83c5be;
  /* border: 1px solid black; */
  gap: 20px;
}

button {
  height: 40px;
  width: 200px;
  background-color: #83c5be;
  color: #fff;
  border-radius: 10px;
}

input {
  height: 40px;
  width: 200px;
  border: #bbb 2px solid;
  border-radius: 10px;

}

input::placeholder {
  padding-left: 10px;
}

label {
  background-color: #83c5be;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}